@page "/macroboardpython"
@rendermode InteractiveServer

<h3>Macro Board Python</h3>


<pre><code class="language-csharp">
    public class HelloWorld
    {
        public static void Main(string[] args)
        {
            System.Console.WriteLine("Hello, world!");
        }
    }
</code></pre>

@code {

}
