@page "/careerhistory"
@rendermode InteractiveServer

<PageTitle>Career History</PageTitle>

<h1>Career History</h1>

<div class="career-block">
    <h2>Atlanta Group</h2>
    <h3>Role: Senior Software Developer</h3>
    <p>
        Lorem Ipsum Dolor Sit Amet.
    </p>

</div>

<div class="image-container">
    <img src="certificate_csharp.jpg" alt="Image">
    <div class="watermark">Watermark</div>
</div>

<div class="image-container">
    <img src="certificate_dotnetsix.jpg" alt="Image">
    <div class="watermark">Watermark</div>
</div>

<div class="image-container">
    <img src="certificate_knockout.jpg" alt="Image">
    <div class="watermark">Watermark</div>
</div>

<div class="image-container">
    <img src="certificate_outlook.jpg" alt="Image">
    <div class="watermark">Watermark</div>
</div>
@code {

}
