@page "/"

<PageTitle>Home</PageTitle>

<h1>Michael Gill Portfolio</h1>
<p>Email: <a>michaelagill92@gmail.com</a></p>

<h3>About</h3>

<div style="max-width: 1200px">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis, diam id dignissim vulputate, mi orci molestie dolor, sit amet lacinia velit eros a odio. Fusce vulputate a velit quis porttitor. Nam tempus ullamcorper velit, non fermentum dolor dignissim non. Aliquam elementum, purus et luctus aliquam, augue neque tincidunt elit, sit amet semper neque mi eget nunc. Curabitur pretium luctus diam convallis malesuada. Vestibulum pellentesque ipsum orci, nec bibendum eros ultricies non. Ut metus turpis, eleifend at iaculis vitae, hendrerit id risus. Maecenas vel risus sit amet tortor ultricies finibus id ac felis. Duis pulvinar, turpis nec aliquam vulputate, quam dolor semper lectus, ac tincidunt lorem tellus eu risus. Integer purus orci, consequat ac enim interdum, malesuada vestibulum ligula.
    </p>

    <p>
        Donec ullamcorper ultricies malesuada. Donec malesuada, nulla at fringilla sagittis, nulla nisl mattis ipsum, ut fermentum diam diam at risus. Vivamus justo eros, tempus eget quam ut, luctus facilisis neque. Sed in varius turpis. Nullam sit amet placerat mauris, porta pretium quam. Morbi a quam eget ex accumsan aliquet at vel purus. Sed volutpat velit quis lorem egestas hendrerit. Cras sit amet lorem nec nisi pretium rhoncus a a sapien. Aliquam erat volutpat. Suspendisse facilisis mi volutpat eros tempus dapibus. Ut porttitor sem nec diam molestie laoreet. Duis odio nulla, molestie eu ullamcorper vitae, finibus in dolor. Ut vitae blandit sem, eget imperdiet eros. Quisque vel sem quis lectus elementum efficitur non ut ipsum. Duis bibendum urna sed quam vehicula, id fringilla lorem dignissim.
    </p>

    <p>
        Nunc vestibulum sagittis pretium. Suspendisse id ipsum quis ante porta mollis. Suspendisse et viverra neque. Donec auctor tempor arcu, ut aliquam nibh ultricies ac. Nam molestie augue ipsum, et interdum diam viverra et. Fusce tortor est, vehicula at euismod ac, viverra et lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam bibendum eros vitae rhoncus. Etiam et nunc elementum, porttitor leo eget, euismod velit. Pellentesque nec placerat velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae tincidunt est, non imperdiet nisl.
    </p>

    <p>
        Donec vitae purus vehicula, posuere sem sit amet, porttitor dui. Phasellus at pulvinar ligula. Etiam fermentum eros non euismod rhoncus. Maecenas interdum malesuada rutrum. Vivamus feugiat scelerisque mi viverra ornare. Pellentesque consequat lorem magna, in laoreet ex vehicula eu. Proin dignissim at lectus ut sollicitudin. Nulla faucibus, neque sit amet ornare eleifend, ante ex pellentesque magna, a semper est diam in lorem. Nullam sapien lacus, iaculis eget enim vitae, mattis lacinia leo. Donec lacinia suscipit pretium. Nulla facilisi. Fusce consectetur libero eget mauris commodo luctus. Proin quis leo efficitur, placerat mi at, lacinia justo. Duis a dignissim tellus, ut efficitur tortor.
    </p>

    <p>
        Integer vitae nisl vestibulum, vehicula lectus a, vehicula ipsum. Nam malesuada nisl aliquet vestibulum faucibus. Nam sit amet finibus ex. Ut lobortis nec nisi at sagittis. In quis massa magna. Nullam sollicitudin imperdiet velit, pellentesque eleifend ex lobortis nec. Praesent in orci enim. Quisque aliquet pulvinar convallis. Fusce et purus at ipsum dapibus convallis.
    </p>
</div>