@page "/"

<PageTitle>Home</PageTitle>
<img id="profile-picture" src="me.jpg" />
<h1>Michael Gill</h1>
<h2>Software Developer</h2>
<p>Email: <a>michaelagill92@gmail.com</a></p>

<h3>About</h3>

<div style="max-width: 1200px">

    <p>
        Thank you for your visit. I am a seasoned software developer with a rich background in C#, Python, PowerShell, and various other programming languages. With years of experience under my belt, I've honed my skills in delivering innovative solutions that drive efficiency, enhance user experience, and push the boundaries of technology.
    </p>

    <p>
        This space is where I share my journey in tech, insights on achieving personal goals, and stories from the myriad of adventures that life offers. Dive in to explore, learn, and get inspired.
    </p>
</div>