@page "/"

<PageTitle>Home</PageTitle>

<img id="fixed-background" src="background.jpg" />

<section id="section-one">

    <div class="section-row">
        <div class="section-row-position">
            <div class="profile-container">
                <img id="profile-picture" src="me.jpg" />
                <div id="profile-text">
                    <h1>Michael Gill</h1>
                    <p>Full Stack Software Developer</p>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer" style="--size: 5rem"></div>

    <div class="section-row">
        <div class="section-row-position">
            <p>Thank you for your visit. I am a seasoned software developer with a rich background in C#, Python, PowerShell, and various other programming languages. With years of experience under my belt, I've honed my skills in delivering innovative solutions that drive efficiency, enhance user experience, and push the boundaries of technology.</p>
            <div class="spacer" style="--size: 2rem"></div>
            <p>This space is where I share my journey in tech, insights on achieving personal goals, and stories from the myriad of adventures that life offers. Dive in to explore, learn, and get inspired.</p>
        </div>
    </div>

    <div class="spacer" style="--size: 5rem"></div>

</section>

<section id="section-two">
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1024 72" class="svg-angle" id="svg-section-two">
        <path fill-rule="evenodd" d="M0 0 0 72h1024z"></path>
    </svg>

    <div class="section-row">
        <div class="section-row-position">

            <div class="technology-header">
                <div class="art"></div>
                <h1>Technologies</h1>
            </div>

            <div class="technology-stack">
                <div class="framework-container"><img src="technology_icons/html5.svg" /></div>
                <div class="framework-container"><img src="technology_icons/css3.svg" /></div>
                <div class="framework-container"><img src="technology_icons/javascript.svg" /></div>
                <div class="framework-container"><img src="technology_icons/angular.svg" /></div>
                <div class="framework-container"><img src="technology_icons/bootstrap.svg" /></div>

                <div class="framework-container"><img src="technology_icons/dotnet.svg" /></div>
                <div class="framework-container"><img src="technology_icons/blazor.svg" /></div>
                <div class="framework-container"><img src="technology_icons/python.svg" /></div>
                <div class="framework-container"><img src="technology_icons/powershell.svg" /></div>
                <div class="framework-container"><img src="technology_icons/sql.svg" /></div>
            </div>
        </div>
    </div>

</section>

<section id="section-three">
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1024 72" class="svg-angle" id="svg-section-three">
        <path fill-rule="evenodd" d="M1024 0 0 72h1024z"></path>
    </svg>

    <div class="section-row">
        <div class="section-row-position">
            <p>Example Text</p>
            <div class="spacer" style="--size: 2rem"></div>
            <p>Another Example Text</p>
        </div>
    </div>

</section>
